body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  text-align: center;
}

#field{
  background-color: white;
  hieght: 500px;
  text-align: center;
  margin: 0 auto;
}

td{
  width: 4px;
  height: 4px;
  /*border: solid 1px white;*/
  background-color: blue;
}

.player1{
  background-color: red;
}

.player2{
  background-color: green;
}

.wall{
  background-color: gray;
}

.sprite{
  background-color: white;
}
